@model Homepage.ViewModels.Login

@{ 
    ViewBag.Title = "Home";
}

    <div id="main">
        <h1>Please, logout!</h1>

        <form method="get">
            <div id="submit">
                <input type="submit" class="btn btn-info" value="Logout">
            </div>
        </form>
    </div>
