@model Homepage.ViewModels.Register

@{
    ViewBag.Title = "Register";
}

    <div id="main">
        <h1>Please, register!</h1>
        <form method="post">
            <div>
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div id="submit">
                <input type="submit" />
            </div>
        </form>
    </div>


      